.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  min-height: 95vh;
  margin-top: .9375rem;
  border-radius: 3.125rem;
  background-color: var(--whitecolor);
}

.titteGreetings {
  color: var(--primarycolor);
}

.bodyGreetings {
  color: var(--primarycolor);
  font-weight: bold;
}
