.vertical-navbar {
  width: 95%;
  min-height: 95vh;
  margin: 0.9375rem auto;
  padding: 1.25rem 0.625rem;
  border-radius: 2rem;
  background-color: var(--primarycolor);
}

.brand-name {
  color: var(--whitecolor);
}

.brand-name:hover {
  color: var(--whitecolor);
}

.nav-links-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: right !important;
}

.nav-link-custom {
  color: var(--whitecolor);
  margin-bottom: 10px;
  padding: 10px 20px !important;
  border-radius: 3.125rem;
  transition: background 0.3s ease;
}

.nav-link-custom:hover {
  background-color: var(--whitecolor);
}
